################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookLibrary/WebAPI/appsettings.json
/.gitignore
