@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>You have been logged out.</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Go home</a>