@model WebApp.Models.UserRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<style>
    ul {
        padding-left: 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        list-style-type: none !important;
    }

    .aspect-ratio-4x3 {
        aspect-ratio: 4/3;
    }
</style>

<div class="aspect-ratio-4x3 m-auto w-50 d-flex flex-column gap-1 align-content-center">
    <h3 class="text-center fw-bold">Create a new account</h3>

    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
        <div class="form-group mt-2">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control mt-2" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control mt-2" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input asp-for="ReturnUrl" class="form-control" />
        </div>
        <div class="form-group mt-4">
            <input type="submit" value="Register" class="btn btn-primary w-100" />
        </div>
        <div class="form-group text-center mt-3">
            <a asp-action="Login" asp-controller="User">Already have an account? Log in here!</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}