@{
    ViewData["Title"] = "Home Page";

    var bgImgPath = "/img/library.jpeg";
}

<style>
    #imgbackground {
        content: "";
        background: url("/img/library.jpeg") center/cover no-repeat;
        object-fit: fill;
        filter: brightness(50%);
    }
</style>

<div class="ratio ratio-16x9 w-75 m-auto">
    <div id="imgbackground" class="w-100 h-100 rounded-3 bg-dark"></div>
    <div class="h-100 text-center d-flex flex-column align-items-center justify-content-center gap-4">
        <h1 class="text-white fw-bold">Web Library</h1>
        <h3 class="text-white">Your online book companion.</h3>
        <div class="d-flex flex-row gap-2">
            <a asp-controller="Book" asp-action="Index" class="btn btn-primary">Search Books</a>
        </div>
    </div>
</div>